.git
.gitignore

node_modules
vendor

storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

public/hot
public/storage

tests
docs

docker/*
!docker/php
!docker/php/entrypoint.sh

.env
.env.local
.env.*

*.tar
*.zip
*.7z
*.log

.idea
.vscode
npm-debug.log
yarn-error.log
